<%- include("partial/header")%>

<body id="page-top">
  <div id="wrapper">
    <%- include("partial/sidebar")%>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <%- include("partial/topbar")%>

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
          >
            <h1 class="h3 mb-0 text-gray-800">Admin Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Dashboard
              </li>
            </ol>
          </div>

          <!-- Main Content -->
          <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
              <!-- Page Heading -->
              <div
                class="d-sm-flex align-items-center justify-content-between mb-4"
              >
                <h1 class="h3 mb-0 text-gray-800">View Products</h1>
              </div>
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Products</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-bordered"
                      id="dataTable"
                      width="100%"
                      cellspacing="0"
                    >
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Image</th>
                          <th>Category Name</th>
                          <th>Sub Category Name</th>
                          <th>Product Name</th>
                          <th>Price</th>
                          <th colspan="1">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(displayData.length > 0) { for(data of displayData)
                        { %>
                        <tr>
                          <td><%- data._id %></td>
                          <td>
                            <img
                              src="/uploads/<%=data.image %>"
                              width="60px"
                              height="60px "
                            />
                          </td>
                          <td><%- data.category.category %></td>
                          <td><%- data.subCategory.subCategory %></td>
                          <td><%- data.product %></td>
                          <td><%- data.price %></td>
                          <td>
                            <a href="/admin/delete/<%= data._id%>" class="btn btn-danger">Delete</a>
                          </td>
                        </tr>
                        <% } } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Begin Page Content -->
          </div>
          <!-- End of Main Content -->
        </div>
        <!---Container Fluid-->
      </div>
      <%- include("partial/footer")%>
    </div>
  </div>
</body>
